#include <physical_layouts.dtsi>

/ {
    andres_physical_layout: andres_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys
            = <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  110    0       0     0     0>
            , <&key_physical_attrs 100 100  110  100       0     0     0>
            , <&key_physical_attrs 100 100  110  200       0     0     0>
            , <&key_physical_attrs 100 100  110  300       0     0     0>
            , <&key_physical_attrs 100 100  220    0       0     0     0>
            , <&key_physical_attrs 100 100  220  100       0     0     0>
            , <&key_physical_attrs 100 100  220  200       0     0     0>
            , <&key_physical_attrs 100 100  220  300       0     0     0>
            , <&key_physical_attrs 100 100  330    0       0     0     0>
            , <&key_physical_attrs 100 100  330  100       0     0     0>
            , <&key_physical_attrs 100 100  330  200       0     0     0>
            , <&key_physical_attrs 100 100  330  300       0     0     0>
            , <&key_physical_attrs 100 100  440    0       0     0     0>
            , <&key_physical_attrs 100 100  440  100       0     0     0>
            , <&key_physical_attrs 100 100  440  200       0     0     0>
            , <&key_physical_attrs 100 100  440  300       0     0     0>
            , <&key_physical_attrs 100 100  550    0       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  550  200       0     0     0>
            , <&key_physical_attrs 100 100  550  300       0     0     0>
            , <&key_physical_attrs 100 100  660    0       0     0     0>
            , <&key_physical_attrs 100 100  660  100       0     0     0>
            , <&key_physical_attrs 100 100  660  200       0     0     0>
            , <&key_physical_attrs 100 100  660  300       0     0     0>
            , <&key_physical_attrs 100 100  440  420       0     0     0>
            , <&key_physical_attrs 100 100  440  520       0     0     0>
            , <&key_physical_attrs 100 100  550  420       0     0     0>
            , <&key_physical_attrs 100 100  550  520       0     0     0>
            , <&key_physical_attrs 100 100  660  420       0     0     0>
            , <&key_physical_attrs 100 100  660  520       0     0     0>
            , <&key_physical_attrs 100 100 1020  100       0     0     0>
            , <&key_physical_attrs 100 100 1020  200       0     0     0>
            , <&key_physical_attrs 100 100 1020  300       0     0     0>
            , <&key_physical_attrs 100 100 1130    0       0     0     0>
            , <&key_physical_attrs 100 100 1130  100       0     0     0>
            , <&key_physical_attrs 100 100 1130  200       0     0     0>
            , <&key_physical_attrs 100 100 1130  300       0     0     0>
            , <&key_physical_attrs 100 100 1240    0       0     0     0>
            , <&key_physical_attrs 100 100 1240  100       0     0     0>
            , <&key_physical_attrs 100 100 1240  200       0     0     0>
            , <&key_physical_attrs 100 100 1240  300       0     0     0>
            , <&key_physical_attrs 100 100 1350    0       0     0     0>
            , <&key_physical_attrs 100 100 1350  100       0     0     0>
            , <&key_physical_attrs 100 100 1350  200       0     0     0>
            , <&key_physical_attrs 100 100 1350  300       0     0     0>
            , <&key_physical_attrs 100 100 1460    0       0     0     0>
            , <&key_physical_attrs 100 100 1460  100       0     0     0>
            , <&key_physical_attrs 100 100 1460  200       0     0     0>
            , <&key_physical_attrs 100 100 1460  300       0     0     0>
            , <&key_physical_attrs 100 100 1570    0       0     0     0>
            , <&key_physical_attrs 100 100 1570  100       0     0     0>
            , <&key_physical_attrs 100 100 1570  200       0     0     0>
            , <&key_physical_attrs 100 100 1570  300       0     0     0>
            , <&key_physical_attrs 100 100 1680    0       0     0     0>
            , <&key_physical_attrs 100 100 1680  100       0     0     0>
            , <&key_physical_attrs 100 100 1680  200       0     0     0>
            , <&key_physical_attrs 100 100 1680  300       0     0     0>
            , <&key_physical_attrs 100 100 1460  420       0     0     0>
            , <&key_physical_attrs 100 100 1460  520       0     0     0>
            , <&key_physical_attrs 100 100 1570  420       0     0     0>
            , <&key_physical_attrs 100 100 1570  520       0     0     0>
            , <&key_physical_attrs 100 100 1680  420       0     0     0>
            , <&key_physical_attrs 100 100 1680  520       0     0     0>
        ;
    };
};
