#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer = <0>;
    default_layer {
      display-name = "Base";
      bindings = < &kp TAB &kp ESC &kp MINUS &kp Z &kp A &kp Q &kp N1 &kp X &kp S &kp W &kp N2 &kp C &kp D &kp E &kp N3 &kp V &kp F &kp R &kp N4 &kp B &kp G &kp T &kp N5 &none &none &none &none &kp RCTRL &kp LSHFT &kp LALT &kp SPACE &mo 1 &mo 2 &none &none &none &none &none &kp P &kp N0 &none &kp L &kp O &kp N9 &none &kp K &kp I &kp N8 &kp M &kp J &kp U &kp N7 &kp N &kp H &kp Y &kp N6 &none &none &none &none &none &none &none &none &mo 3 &kp BSPC >;
    };
    layer_1 {
      display-name = "Arrows";
      bindings = < &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &kp RIGHT &none &kp DOWN &kp UP &kp LEFT &none >;
    };
    layer_2 {
      display-name = "Nav";
      bindings = < &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &kp PG_DN &kp PG_UP &kp END &kp HOME &kp DEL &kp INS >;
    };
    layer_3 {
      display-name = "F";
      bindings = < &none &none &none &none &none &none &kp F1 &none &none &none &kp F2 &none &none &none &kp F3 &none &none &none &kp F4 &none &none &none &kp F5 &none &none &none &none &none &none &none &none &none &none &none &kp F12 &kp F11 &none &none &none &kp F10 &none &none &none &kp F9 &none &none &none &kp F8 &none &none &none &kp F7 &none &none &none &kp F6 &none &none &none &none &none &none &none &none &none &none >;
    };
  };
};
